.swal2-actions button{
  background: var(--pri1-color);
}
.swal2-html-container{
  font-family: Telex;
}
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-track {
    border-radius: 6px;
  }
::-webkit-scrollbar-thumb {
    background: var(--pri2-color); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: var(--pri2-color); 
}


*{
    padding: 0;
    margin: 0;
      -webkit-tap-highlight-color: transparent;

}
:root{
    --pri1-color:#156070;
    --pri2-color:#3D94A7;
    --pri3-color:#3d94a72d;
    --text1-color:#000000;
    --text2-color:#0000009c;
    --sec-color:orange;
    --sec2-color:#E8D113;
}
@font-face {
    font-family: LxBold ;
    src: url(../media/Lexend/Lexend-Bold.ttf);
}
@font-face {
    font-family: Telex;
    src: url(../media/Telex/Telex-Regular.ttf);
}
@font-face {
    font-family: LxRegular ;
    src: url(../media/Lexend/Lexend-Regular.ttf);
}
input,textarea,select{
    border: none;
    font-family: Telex;
    padding-left: 10px;
    background: none;
    color: var(--text2-color);
    font-size: .9rem;
}
input:focus, textarea:focus,select:focus{
    outline: none;
    font-family: Telex;
}
input::placeholder{
    color: #000000a1;
    font-size: .8rem;
}


h1{
    font-size: 5rem;
    font-family: LxBold;
}
h2{
    font-size: 3rem;
    font-family: LxBold;
    letter-spacing: 1px;
}
h3{
    font-size: 2.2rem;
        letter-spacing: -1px;

    font-family: LxBold;
}
h4{
    font-size: 1.7rem;
    font-family: LxBold;
}
p{
    font-size: 1rem ;
    font-family: Telex;
}

#profDashWraper{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    background: aliceblue;
    
}
.profActDashWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: 100%;
    position: relative;
}
.profActDash{
    width: 97%;
    height: 95%;
}
.profActDashtop{
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
       


    
}
.profActDashBtm{
    height: calc(100% - 60px);
     width: 100%;
    border-radius: 15px;
   


}
.dashNotify{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
        cursor: pointer;

    border-radius: 50%;
     background: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
    
}
.dashminiProf{
        width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
     background: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
}
.dashminiProf i{
    font-size: 22px;
    color: var(--pri1-color);
}
.dashNotify i{
    font-size: 22px;
    color: var(--pri1-color);
}
.profActDashtopLeft{
    width: 40px;
    height: 40px;
    display: none;
                box-shadow: 0 0 10px rgba(115,82,199,.18)  ;

    justify-content: center;
    background: var(--pri1-color);
    border-radius: 50%;
    font-size: 19px;
    cursor: pointer;
    color: var(--sec2-color);
    align-items: center;

}
.profActDashtopRight{
 flex-direction: row;
 display: flex;
 justify-content: center;
 cursor: pointer;
 
 align-items: center;

}

.sidemMenuWrapper{
        width: 18vw;
        overflow: hidden;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
    background: rgb(255, 255, 255);
        height: 100vh;

    background: #0d1822;
}
.profActDashBtmSearch{
    height: 60px;
    display: flex;
        background: aliceblue;

    justify-content: center;
    margin-bottom: 10px;
    align-items: center;

    width: 100%;
}
.profActDashBtmSearchWrap{
    width: 100%;
    height: 60px;
    display: flex;
    margin: 10px 0;
    flex-direction: row;

}
.profActDashBtmSearchCont{
    width: fit-content;
    height: 40px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
    background: rgb(255, 255, 255);   
     overflow: hidden;
    display: flex;
    transition: .3s ease;
    flex-direction: row;
    align-items: center;
}
.profSearchIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--pri1-color);
    color: aliceblue;
}
.profSearchCont{
    width: 0px;
    transition: .3s ease;
    height: 100%;
    
}
.profSearchCont input{
  width: 100%;
  height: 100%;
}
.profActDashBtmCategories{
    width: calc(100% - 50px);
    margin-left: 10px;
    transition: .3s ease;
    overflow: hidden;
}
.categoWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    position: relative;
        white-space: nowrap;
        scrollbar-width: none;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}
.catBox{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-right: 15px;

    align-items: center;
    cursor: pointer;
    transition: .3s ease;

    justify-content: center;
    height: 40px;
    border-radius: 50px;
  background: var(--pri3-color);
      padding: 5px 15px;
}
.catBox:hover{
    background: var(--pri2-color);
    color: aliceblue;
}
.catBox:hover p,
.catBox:hover i
{
    color: aliceblue;
}
.catBox p{
    color: rgba(0, 0, 0, 0.938);
        margin: 0 10px;
        font-size: .8rem !important;

}
.catIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--pri1-color);
}
.profRender{
    width: 100%;
        border-radius: 15px;
  
    height: calc(100% - 80px);
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 7px;
    

}
.profCardR{
    overflow: hidden;
    height: 280px;
    display: flex;
    padding: 4% 0;
    border-radius: 10px;
        box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profCardRTop {
    border-radius: 10px;
    width: 92%;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.profCardRate{
  position: absolute;
  z-index: 3;
  margin: 5px;
  padding: 7px 10px;
  background: #2a6572ad;
  display: flex;
  flex-direction: row;
  right: 0;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.profCardRate .faIcon{
  color: orange; 
  width: 14px; 
  
}
.profCardRate span{
    font-size: .8rem;
    color: aliceblue;
    margin-left: 5px;
}
.profCardRBtm{
    width: 92%;
    height: fit-content;
    overflow: hidden;
    
    margin: 10px auto 0 auto; 
}
.profCardRTop img{
 width: 100%;
 height: 100%;
 position: absolute;
 z-index: 1;
 object-fit: cover;
}
.profCardRBtm button{
width: 100%;
height: 35px;
border: none;
cursor: pointer;
margin-top: 10px;
border-radius: 50px;
font-family: Telex;
color: aliceblue;
background: var(--pri2-color);
}
.profCardRBtm span{
  font-size: .8rem;
  opacity: .6;
  font-style: italic;
}
.profCardRBtm p{
  font-size: .9rem;

  color: var(--text1-color);
}