.swal2-actions button{
  background: var(--pri1-color);
}
.swal2-html-container{
  font-family: Telex;
}

*{
    padding: 0;
    margin: 0;
}
:root{
    --pri1-color:#156070;
    --pri2-color:#3D94A7;
    --pri3-color:#3d94a72d;
    --text1-color:#000000;
    --text2-color:#0000009c;
    --sec-color:orange;
    --sec2-color:#E8D113;
}
@font-face {
    font-family: LxBold ;
    src: url(../media/Lexend/Lexend-Bold.ttf);
}
@font-face {
    font-family: Telex;
    src: url(../media/Telex/Telex-Regular.ttf);
}
@font-face {
    font-family: LxRegular ;
    src: url(../media/Lexend/Lexend-Regular.ttf);
}
input,textarea,select{
    border: none;
    font-family: Telex;
    padding-left: 10px;
    background: none;
    color: var(--text2-color);
    font-size: .9rem;
}
input:focus, textarea:focus,select:focus{
    outline: none;
    font-family: Telex;
}


h1{
    font-size: 5rem;
    font-family: LxBold;
}
h2{
    font-size: 3rem;
    font-family: LxBold;
    letter-spacing: 1px;
}
h3{
    font-size: 2.2rem;
        letter-spacing: -1px;

    font-family: LxBold;
}
h4{
    font-size: 1.7rem;
    font-family: LxBold;
}
p{
    font-size: 1rem ;
    font-family: Telex;
}

#profDashWraper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    background: aliceblue;
    
}
.profActDashWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: 100%;
    position: relative;
}
.profActDash{
    width: 97%;
    height: 95%;
}
.profActDashtop{
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
       


    
}
.profActDashBtm{
    height: calc(100% - 60px);
     width: 100%;
    border-radius: 15px;
        background: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(115,82,199,.18)  ;


}
.dashNotify{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
        cursor: pointer;

    border-radius: 50%;
     background: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
    
}
.dashminiProf{
        width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
     background: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
}
.dashminiProf i{
    font-size: 25px;
    color: var(--pri1-color);
}
.dashNotify i{
    font-size: 25px;
    color: var(--pri1-color);
}
.profActDashtopLeft{
    width: 40px;
    height: 40px;
    display: none;
                box-shadow: 0 0 10px rgba(115,82,199,.18)  ;

    justify-content: center;
    background: var(--sec2-color);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: var(--pri1-color);
    align-items: center;

}
.profActDashtopRight{
 flex-direction: row;
 display: flex;
 justify-content: center;
 cursor: pointer;
 
 align-items: center;

}

.sidemMenuWrapper{
        width: 18vw;
        overflow: hidden;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px rgba(115,82,199,.18)  ;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: #0d1822;
}