@media only screen and (max-width:992px) {

    h1{
    font-size: 3rem;
    font-family: LxBold;
}
h2{
    font-size: 2.5rem;
    font-family: LxBold;
    letter-spacing: 1px;
}
h3{
    font-size: 1.6rem;
        letter-spacing: -1px;

    font-family: LxBold;
}
h4{
    font-size: 1.3rem;
    font-family: LxBold;
}
p{
    font-size: .9rem;
    font-family: Telex;
}

.profDashWraper{
    position: relative;
}
.profActDash{
    height: 98%;
}
.profActDashWrap{
    width: 100%;
}
.menuWrap{
    height: 100%;
    width: 100%;
}
.sidemMenuWrapper{
        position: absolute;
    z-index: 3;
    transition: .3s ease;
    left: -101%;
    width: 100%;
}
.profActDashtopLeft{
    display: flex;
}
.profActDashtop{
    justify-content: space-between;
}

}